<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hospital.dao.DoctorDao">

	<select id="selectDoctorList" resultType="com.hospital.entity.Doctor" parameterType="map">
		select * from Doctor where 1 = 1

		<if test="map.key != null and map.key != '' ">
			<bind name="name" value="'%' + map.key + '%'" />
			and names like #{name}
		</if>
		
		<if test="map.uid != null and map.uid != '' ">
			and id = #{map.uid}
		</if>
		
		<if test="map.dname != null and map.dname != '' ">
			and dname = #{map.dname}
		</if>

		order by id desc
	</select>

	<insert id="addDoctor" parameterType="com.hospital.entity.Doctor">
		insert into Doctor (names,age,sex,phone,detail,img,times,pwd,dname,price)
		values (#{cc.names},#{cc.age},#{cc.sex},#{cc.phone},#{cc.detail}
		,#{cc.img},#{cc.times},#{cc.pwd},#{cc.dname},#{cc.price})
	</insert>

	<delete id="deleteDoctor" parameterType="java.lang.Integer">
		delete from Doctor
		where id = #{id}
	</delete>

	<select id="selectDoctorById" resultType="com.hospital.entity.Doctor"
		parameterType="java.lang.Integer">
		select * from Doctor where id = #{id}
	</select>
	

	<select id="selectDoctorByPhone" resultType="com.hospital.entity.Doctor"
		parameterType="java.lang.String">
		select * from Doctor where phone = #{phone}
	</select>

	<update id="updateDoctor" parameterType="com.hospital.entity.Doctor">
	
		update Doctor set
		names = #{cc.names},
		age = #{cc.age},
		sex = #{cc.sex},
		phone = #{cc.phone},
		detail = #{cc.detail},
		img = #{cc.img},
		pwd = #{cc.pwd},
	    price = #{cc.price},
		dname = #{cc.dname}
		where id = #{cc.id}
	</update>
</mapper>